<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="linchange.example.com.waimain">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_lanucher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //百度地图能力
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wUioc5HbuMBN9lYuW7EUqXTb7Qck1v2K" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ShoppingActivity" />
        <activity android:name=".activity.SuccessActivity" />
        <activity android:name=".activity.InputActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="倾心外卖" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.UserProfileActivity" />
        <activity android:name=".activity.MyAddressActivity" />
        <activity android:name=".activity.AddressCreateActivity" />
        <activity android:name=".activity.BaiduMapActivity" />
        <activity android:name=".activity.SetNickNameActivity" />
        <activity android:name=".activity.SetUserName" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.AddressUpdateActivity" />
        <activity android:name=".activity.SetPhoneActivity" />
        <activity android:name=".activity.SetEmailActivity" />
        <activity android:name=".activity.ShowUserNameActivity" />
        <activity android:name=".activity.UserFeedBackActivity" />
        <activity android:name=".activity.UpdatePasswordActivity" />
        <activity android:name=".activity.UploadHeadPortraitsActivity" />
        <activity android:name=".activity.EvaluateActivity" />
        <activity android:name=".activity.EvaluateDetailActivity" />
        <activity android:name=".activity.MyEvaluateActivity" />
        <activity android:name=".activity.MyStarActivity"></activity>
    </application>

</manifest>